nemo_toolkit
pydantic
fiddle>=0.3.0
cloudpickle>=3.0.0
texterrors
torch
numpy
hydra-core
lightning
lhotse
einops
transformers
sentencepiece
pandas
jiwer
librosa
webdataset
datasets
editdistance
IPython
pydub
ffmpeg-python
soundfile
yt-dlp
pyannote.core==6.0.1